
// policy file granting the permissions required for running this example.

grant {
  permission java.util.PropertyPermission "user", "read";
  permission java.util.PropertyPermission "pass", "read";
  permission java.util.PropertyPermission "java.security.auth.login.config", "read";
  permission java.util.PropertyPermission "java.security.policy", "read";
  permission javax.security.auth.AuthPermission "createLoginContext.RanchLogin";
};

